/*
CSS GLOBAL DE LA PAGE (index.php et autres)
Gestion de la mise en page générale (header, content, menus et footer)
*/

html{
  height: 100%;
}
 
body{
  height: 100%;
  position: relative;
}

p{
  font-family:  "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

ul{

}

li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.sub-content{
}

li.icohtml a{
  color: #FF7600;
}

li.icocss a{
  color: #AF0202;
}

li.icophp a{
  color: #0C3474;
}

li.icosql a{
  color: #AF6052;
}

li.icooth a{
  color: #C9C9C9;
}

.wrap{
  min-height: 100%;
  position: relative;
}
 
.header{
  position: relative;
  background-color: #1472CC;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.titre{
  font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  font-size: 3vw;
}

span.gras{
   font-weight: bold;
   font-size: 5vw;
   color: #DB840F;
}

.c_menu{
  text-align: center;
  background-color: #43789E;
}


.c_menu a{
  text-decoration: none;
  font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  font-weight: bold;
  color : #DB840F;
  position : relative;
  left : 30%;
  /*background-color: ;*/
}

.c_menu a:hover{
  color : #1958FF;
}

.h_menu{
  padding: 0; 
  margin: 0;
  text-align: center;
}

.h_menu li {
  display: inline;
  list-style: none;
}

.h_menu a{
    display: inline-block;
    margin: 0 0.3%;
    font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.h_menu a:hover{
  color : #1958FF;
}

.r_menu{
  position: relative;
  float: right;
  margin-right: 5%;

}

.core{
}

.content{
  position: relative;
  padding-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

.footer {
  width: 100%;
  height: 4%;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  bottom: 0;
  left : 0;
  text-align : center;
  background-color : #1472CC;
}