/*
CSS spécifique à administration.php
gestion du site par les administrateurs
*/

.admin{
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.admin li{
	list-style-type: none;
}

.admin a{
	color : #1472CC;
}

.admin a:hover{
	color : #DB840F;
}

.space{
	padding-bottom : 10%;
}

td.name_category{
	font-weight: bold;
	font-size: 1.1em;
}

div{
	font-weight: bold;

}

div#admin_list.admin{
	margin-left: 10%;
}

div#admin_category.admin{
	background-color: #43789E;
	position: relative;
	padding-bottom: 80px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

div#admin_category.admin input{

}

div#admin_category.admin select{
	display : block;
	margin : auto;
}

input.submit_cat{
	margin-top: 2%;
}

div#admin_users.admin{
	background-color: #43789E;
	position: relative;
	padding-bottom: 60px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

td.delete_category a{
	font-weight: bold;
	color : #DB840F;
}

td.delete_category a:hover{
	color : #CC0000;
	font-size: 1.09em;
}

td.delete_user a{
	color : #DB840F;
}

td.delete_user a:hover{
	color : #CC0000;
	font-size: 1.09em;
}

table{
	text-align: center;
	margin : auto;
}

.cat{
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-size: 1.08em;
	text-align: center;
}

.cat_s{
	display: block;
	margin: auto;
}

.post_form div{
	text-align: center;
}


