html{
  height: 100%;
}
 
body{
  height: 100%;
  position: relative;
}

ul{

}

li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.sub-content{
}

li.icohtml a{
  color: #FF7600;
}

li.icocss a{
  color: #AF0202;
}

li.icophp a{
  color: #0C3474;
}

li.icosql a{
  color: #AF6052;
}

li.icooth a{
  color: #C9C9C9;
}

.wrap{
  min-height: 100%;
  position: relative;
}
 
.header{
  position: relative;
  background-color: #202099;
  text-align: center;
  margin-right: 10%;
  margin-left: 10%;
}

.titre{
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
  font-size: 3vw;
}

span.gras{
   font-weight: bold;
   font-size: 5vw;
   color: #DB840F;
}

.l_menu{
  padding: 0; 
  margin: 0;
  text-align: center;
}

.l_menu li {
  display: inline;
  list-style: none;
}

.l_menu a{
    display: inline-block;
    margin: 0 0.3%;
}

.r_menu{
  position: relative;
  float: right;
  margin-right: 5%;

}

.core{
}

.content{
  position: relative;
  padding-bottom: 100px;
  margin-left: 15%;
  margin-right: 15%;
}

.footer {
  width: 100%;
  height: 4%;
  position: absolute;
  bottom: 0;
  left : 0;
  background-color : #1472CC;
  text-align : center;

}