/*
CSS spécifique à createPost.php et readPost.php
formulaire de création d'un post (lien+note)
*/

.post{
	position: relative;
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.info_author{
	display: table-cell;
	position: relative;
	font-size: x-small;
	padding: 1em;
	border-left: 1px solid black;
	border-top : 1px solid black;
	border-bottom : 1px solid black;

}

.message_name{
	font-size: medium;
}

.message_name a{
	text-decoration: none;
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-weight: bold;
	font-size: large;
	color : #1958FF;
}

.message_name a:hover{
	color : #DB840F;
}

.content_post{
	position: relative;
	display: table-cell;
	width: 100%;
	vertical-align: top;
	border: 1px solid black;
}

.info_post{
	position: relative;
	font-size: x-small;
	padding: 1em;
	/*border-bottom: 1px solid black;*/
}

.subcontent_post{
	position: relative;
	padding: 1em;
	border-top: 1px solid black;
	-webkit-transition: all 1s;
  	-moz-transition: all 1s;
  	-o-transition: all 1s;
  	transition : all 1s;
}

.subcontent_post:hover{
	background-color:#000000;
	color : #FFFFFF;
}

.display_url {
	text-align: center;
}

.display_url a{
	text-decoration: none;
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-weight: bold;
	font-size: large;
	color : #1958FF;

}

.display_url a:hover{
	color : #DB840F;
}

.display_description a{
	text-decoration: none;
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-weight: bold;
	font-size: large;
	color : #1958FF;
}

.display_description a:hover{
	color : #DB840F;
}

.nb_notes {
	margin-top: 0;
	font-size: small;
}

.create_comment{
}

.para_note{
	margin-bottom: 0;
	display: inline-block;
	letter-spacing: -0.39em;
}

.img_avatar{
	width: 80px;
	height: 80px;
}

.img_note, .img_note_left_full, .img_note_left_empty, .img_note_right_full, .img_note_right_empty{
	width: 20px;
	height: 40px;
}

.img_note_left_full{
	background: url('../images/star_left_full.png') 0 0;
	background-size: 20px 40px;
}

.img_note_left_empty{
	background: url('../images/star_left_empty.png') 0 0;
	background-size: 20px 40px;
}

.img_note_right_full{
	background: url('../images/star_right_full.png') 0 0;
	background-size: 20px 40px;
}

.img_note_right_empty{
	background: url('../images/star_right_empty.png') 0 0;
	background-size: 20px 40px;
}

.note_1:hover{
	background: url('../images/star_left_full.png') 0 0;
	background-size: 20px 40px;
}

.page{
}

.page a{
	text-decoration: none;
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-weight: bold;
	font-size: large;
	color : #1958FF;
}

.page a:hover{
	color : #DB840F;
}