.post{
	position: relative;
	display: table;
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
}

.info_author{
	display: table-cell;
	position: relative;
	font-size: x-small;
	padding: 1em;
	border: 1px solid black;
}

.message_name{
	font-size: medium;
}

.content_post{
	position: relative;
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.info_post{
	position: relative;
	font-size: x-small;
	padding: 1em;
	border: 1px solid black;
}

.subcontent_post{
	position: relative;
	padding: 1em;
	border: 1px solid black;
}

.display_url{
	font-weight: bold;
	font-size: large;
	text-align: center;
}