/*
CSS spécifique à administration.php
gestion du site par les administrateurs
*/

.admin{
	font-family: "Oleo Script", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

.admin li{
	list-style-type: none;
}

.admin a{
	color : #1472CC;
}

.admin a:hover{
	color : #DB840F;
}
