/*
CSS Spécifique à subscribe.php
Formulaire d'inscription au site
*/

p.err{
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif; 
  font-size : 13px;
}

input.ps_s, input.mdp_s {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

input.ps_s:focus, input.mdp_s:focus {
  outline: 0;
  border-color: #DB840F;
}


label.ps_s, label.mdp_s {
  display: block;
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif; 
  font-size: 13px;
}

form.sub_form{
  background-color: #BEBEBE;
}