.post{
	position: relative;
	display: table;
	width: 100%;
	margin-bottom: 1em;
}

.info_author{
	display: table-cell;
	position: relative;
	font-size: x-small;
	padding: 1em;
	border: 1px solid black;
}

.message_name{
	font-size: medium;
}

.content_post{
	position: relative;
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.info_post{
	position: relative;
	font-size: x-small;
	padding: 1em;
	border: 1px solid black;
}

.subcontent_post{
	position: relative;
	padding: 1em;
	border: 1px solid black;
}

.display_url {
	text-align: center;
}

.nb_notes {
	margin-top: 0;
	font-size: small;
}

.display_url a{
	font-weight: bold;
	font-size: large;
}

.create_comment{
}

.img_note{
	margin-bottom: 0;
	display: inline-block;
	letter-spacing: -0.31em;
}

.page{
}